.homeGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
}

.infoColumn {
    min-width: 200px;
    max-width: max-content;
    height: min-content;
}


@media screen and (min-width: 660px) {
    .homeGrid {
        grid-template-columns: 1fr 3fr;
    }

    .infoColumn{
        position: sticky;
        top: 125px;
    }
}