/* HOME page */
.homeGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
}

.infoColumn {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: left;
    min-width: 260px;
    max-width: max-content;
    height: min-content;
}

/* GUEST BOOK */
.guestBook {
    padding: 15px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 900px) {
    .homeGrid {
        grid-template-columns: 1fr 3fr;
    }

    .infoColumn {
        position: sticky;
        top: 175px;
    }
}