.page {
    padding: 40px 20px;
    background-color: rgba(124, 131, 150, 0.726);
    display: flex;
    justify-content: center;
}

.content {
    max-width: 70vw;
    flex-grow: 1;
}

.page h1 {
    color: rgb(67, 95, 114);
    margin: 15px;
    font-size: xx-large;
}