#root {
  max-width: 1280px;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

.viewport-grid{
  flex-grow: 1;
  display: grid;
  grid-template-rows: max-content auto 50px;
}

.card {
  padding: 2em;
}