* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  text-align: center;
  min-height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
}

.viewport-grid{
  flex-grow: 1;
  display: grid;
  grid-template-rows: max-content auto 50px;
}

.card {
  padding: 2em;
}